In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('hw1_data.csv')
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

## Question 3
#### What's the average price of BMW cars in the dataset?

In [3]:
df[df.Make == 'BMW'].MSRP.mean()

61546.76347305389

In [7]:
# or 
df.groupby('Make').MSRP.mean().round(3)

Make
Acura              34887.587
Alfa Romeo         61600.000
Aston Martin      197910.376
Audi               53452.113
BMW                61546.763
Bentley           247169.324
Bugatti          1757223.667
Buick              28206.612
Cadillac           56231.317
Chevrolet          28350.386
Chrysler           26722.963
Dodge              22390.059
FIAT               22670.242
Ferrari           238218.841
Ford               27399.267
GMC                30493.299
Genesis            46616.667
HUMMER             36464.412
Honda              26674.341
Hyundai            24597.036
Infiniti           42394.212
Kia                25310.173
Lamborghini       331567.308
Land Rover         67823.217
Lexus              47549.069
Lincoln            42839.829
Lotus              69188.276
Maserati          114207.707
Maybach           546221.875
Mazda              20039.383
McLaren           239805.000
Mercedes-Benz      71476.229
Mitsubishi         21240.535
Nissan             28583.432
Oldsmobile         11542.540
Plymouth            3122.902
Pontiac            19321.548
Porsche           101622.397
Rolls-Royce       351130.645
Saab               27413.505
Scion              19932.500
Spyker            213323.333
Subaru             24827.504
Suzuki             17907.208
Tesla              85255.556
Toyota             29030.016
Volkswagen         28102.381
Volvo              28541.160
Name: MSRP, dtype: float64

## Question 4
#### Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [11]:
df[df.Year >= 2015]['Engine HP'].isnull().sum()

51

## Question 5
``` 
- Calculate the average "Engine HP" in the dataset.
- Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
- Now, calcualte the average of "Engine HP" again.
- Has it changed?
- Round both means before answering this questions.```

In [13]:
mean_horse_power = df['Engine HP'].mean()
mean_horse_power

249.38607007176023

In [14]:
df['Engine HP'].fillna(mean_horse_power).mean()

249.38607007176

## Question 6

``` 
- Select all the "Rolls-Royce" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
- What's the sum of all the elements of the result?```

In [17]:
df_rolls_royce=df[df.Make == "Rolls-Royce"][["Engine HP", "Engine Cylinders", "highway MPG"]].drop_duplicates()

In [18]:
X = df_rolls_royce.values
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [21]:
X_transpose = X.T
X_transpose_X = X_transpose.dot(X)

In [23]:
X_transpose_X_inv = np.linalg.inv(X_transpose_X)
X_transpose_X_inv.sum()

0.032212320677486195

## Questions 7
```
- Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?.```

In [24]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]

In [26]:
w = X_transpose_X_inv.dot(X_transpose).dot(y)

### Note: we just implemented normal equation

$$w = (X^T X)^{-1} X^T y$$

In [27]:
w[0]

0.19989598183186175